.navbar{
    background-color: aqua;
}

body{
    background-color: gray;
}


.container{
    background-color: aliceblue;
    border-width: 5px;
    border-color: black;
    border-style: solid;
    padding: 20 px;
    margin-top: 50 px;

}







footer{
    background-color: #666666;
    height: 75px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:black;
    color: white;
    text-align: center;
    padding: 25px;
